/.idea
/meta-llama
/USE_POLICY
/LICENSE
/meta-llama2
/.venv
/playground
/gemma/__pycache__
/gemma/gemma.cpp/build/7b/
/gpt.ipynb
/gpt2.ipynb
/main-f.py
/gemma/gemma.cpp/build/2b-it-sfp.sbs
/gemma/gemma.cpp/build/tokenizer.spm
/gemma/model.tar.gz
/dissertation-env
/llama3-8b/llama3/Meta-Llama-3-8B
/llama3-8b/llama3/Meta-Llama-3-8B-Instruct
/llama2-7b/llama/llama-2-7b-chat
/datasets/data2.RData
/datasets/data2.csv
/__pycache__/preprocess.cpython-311.pyc
/__pycache__/preprocess.cpython-311.pyc